html {
  height: 100%;
  width: 100%;
}
h1{
  color: lightblue;
}
p{
  color: lightblue;
}
h2{
  color:darkcyan
}
img {
border-radius: 50%;
}
.newimage{
  border-radius: 0%
}
html{
  scroll-behavior: smooth;
}